@font-face {
    font-family: fuente1;
    src: url(../fuentes/Phudu-VariableFont_wght.ttf);
}
body{
    background-image: url(../Imagenes/Fondospaginas/fondonegro_grande.jpg);
    background-size: cover;
  }

  
/*TODOS ESTILOS CABECERO DE LA PAGINA*/
.header1{
    width: 100%;
    height: 150px;
    margin: auto;
    background-color: rgba(243, 240, 240, 0.116);
}

#menu1{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav{
   width: 230%;
   text-align: center;
   padding-top: 20px;

}
nav ul li{
    font-size: 20px;
    width: 16%;
    margin: auto;
    display: inline-block;/*Con esto colocaremos los li en linea*/

}
nav ul li a{
    font-family: fuente1;
    color: aliceblue;
    text-decoration: none;
}

.header2{
    width: 100%;
    height: 20vh;
    background-color: rgba(112, 110, 110, 0.288);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu2{
    width: 100%;
    height: 50px;
    display: flex;
  
    
  }
  .menu2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: fuente1;
    font-size: 30px;
    color: white;
  
  }
  .menu2 li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 6px 15px;
    flex-direction:column;
  
  }
  .menu2 li ul li :hover{
    background-color: rgba(158, 155, 155, 0.521);
  }
  
  
  .menu2 li:hover{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    cursor: pointer;
    transition: all 300ms;
  }
  .menu2 ul li ul{
    *display: none;
    margin-left: -10px;
    flex-direction: column;
    background-color: rgba(121, 119, 119, 0.322);
    margin-top: 1em;
    transform: rotateY(240deg) scale(0);
    transition: all 2s;
  }
  .menu2 ul li ul a{
    font-family: fuente1;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  
  .menu2 ul li:hover > ul{
    transform: rotateY(0deg);
    transition: all 1s ;
  }
  


.cabecera h1{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif
 
}
.cabecera img{
    margin:0;
    float: left;
    width: 200px ;
    height: 200px;  

}

.aside{
    width: 30%;
    padding: 0;
    margin-right: 10%;
    
}

.aside .indice{
    flex-flow: column;
    display: flex;
    list-style-type: none;
    text-align: center;
}
.aside p{
    display: flex;
    font-size: 18px;
    color: rgb(223, 207, 207);

}

.aside img{
    width: 282px;
    height: 200px;
}
.caja{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: fantasy;
    font-size: 20px;
    color: grey ;   
}
.parrafo{
    width: 70%;
    padding: 5%;
    text-align: justify;
    

} 


.parrafo p +p{
    margin-top: 3em;
}


.mapa{
    margin-top: 5em;
    width: 100%;
    height: 30vh;
}

.mapa iframe{
    width: 98%;
    margin-left: 1%;
    height: 40vh;
}

footer{
    margin-top: 10%;
    margin-bottom: 3em;
    display:flex;
    justify-content: center;
    align-items:center;


}
p,h1:hover{/*con esto el cursor no cambia al pasar por encima de un texto*/
    cursor: default;
}
a:hover {
    text-decoration: none;
    
}

footer a img{
    margin-left: 30px;
    width: 85px ;
    height: 63px;  
}




